@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=News+Cycle&display=swap');

*
{
    padding: 0;
    margin: 0;
}

/* navbar */

.container-fluid.navbar.bg-dark.navbar-expand-sm.fixed-top {
    padding-top: 1px;
    padding-bottom: 1px;
}

.navbar-default {
  background: none;
}

i.fa.fas.fa-bars {
    color: #fff;
}

.navbar-toggler-icon {
    padding-top: 5px;
}

a.nav-link {
    color: #fff;
}

.btn {
    color: #fff;
}

a.navbar-brand.now {
    color: #fff;
    font-family: 'Great Vibes', cursive;
    font-size: 25px;
}

/* home page */

.hero-image {    
    height: 100vh;

    background: linear-gradient(rgba(0,0,0,0.29),rgba(0,0,0,0.29)),url("../images/hero2.jpg") no-repeat center center; 
    background-color: #000;
    background-size: cover;
}

#ccsearch {
    padding-top: 250px;
}

#callout {
    font-family: 'Great Vibes', cursive;
    text-align: center;
    font-size: 45px;
    color: #fff;
}

#callout-p {
    text-align: center;
    color: #fff;
    font-size: 12px;
}

.input-group {
    width: 90%;
    max-width: 500px;
    border-radius: 30px;
    background: #fff;
    margin: auto;
    padding: 2px;
}

.form-control {
    border: 0;
    border-radius: 30px;
    margin: 2px;
    box-shadow: none;
}

.input-group-text {
    height: 40px;
    width: 100px;
    background-image: linear-gradient(#00ff7e,#1f3d90);
    border: 0;
    color: #fff;
    padding: 0 25px;
    border-radius: 30px;
    box-shadow: none;
}

/* Footer */

.footer {
    padding: 80px 20px;
    background-color: #343a40;
}


footer {
    color: #fff;
}

.container-fluid.bg-dark {
    padding-top: 30px;
    padding-bottom: 20px;
}

.footer h4 {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.footer p {
    font-size:12px;
    text-align: justify;
    padding-right: 35px;

}

.col-md-3.d-none.d-md-block.nav {
    padding-top: 30px;
}

/* packages */

.container.packages {
    padding-bottom: 40px;
}

.features {
    padding: 100px 0 -5px 0;
}

.destination {
    font-family: 'News Cycle', sans-serif;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 100px;
    
}
h4 {
    padding-top: 20px;
    padding-bottom: 10px;
}
.feature-img {
    position: relative;
}

.rating {
    margin-left: 15px;
    padding: 0px;
    float: right;
    background: #fff;
    bottom: -1px;
    right: 0px;
    margin-top: -50px;
    padding-top: 50px;
}

.features .fa {
    font-size: 15px;
    color: #ff9c07
}

.features p {
    margin-bottom: 30px;
    float:right;
}

.feature-detailes h4 {
    padding-top: 30px;
    
}

.hotel {
    font-size: 15px;
}

.back_image {
    background:url("British Virgin Islands.jpg");
    width: 500px;
    height: 333px;
    position: relative;
}

.vertical_text {
    position: absolute;
    width: 500px;
    bottom: 0;
    padding: 15px 0;
    background-color: rgba(37,34,34,0.6);
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    display: none;   
    
}

.stay {
    margin-right: 5px;
}

.stay span {
    color: black;
}

.featured-box {
    box-shadow: 0 0 10px 1px rgba(37,73,214,0.18);
}

.discription {
    margin: 0 10px 0 10px;
}

.detailes {
    margin-left: 10px;
}
@media screen and (max-width:320px) {
    a.navbar-brand.now {
       font-size: 23px;
}

.navbar-nav.ml-auto {
    font-size: 13px;
}

.navbar-toggler-icon {
    padding-top: 10px;
}
#callout {
    font-size: 29px;
}

.input-group {
    padding: 0;
}

.destination {
    font-size: 25px;
    padding-bottom: 10px;
}

img {
    height: 30vh;
}

.price {
    width: 45px;
    height: 45px;
    font-weight: 400;
    right: -15px;   
}

h4 {
    font-size: 20px;
}

.navbar {
    width: auto;
    overflow-x: hidden;
}

.rating {
    padding-right: 40px;
    font-size: 2px;
}

.destination {
    padding-top: 70px;
    padding-bottom: 20px;
}

.container.packages {
    padding-bottom: 10px;
}

.footer {
    padding-top: 30px;
    padding-bottom: 30px;
}

h1 {
    margin-bottom: 0;
}

.back_image {
    height: 170px;
    width: 255px;
    position: relative;
}

.vertical_text {
    width: 255px;
    font-size: 10px;
    position: absolute;
     padding: 10px 0;

}

.stay {
    font-size: 2px;
}

.discription {
    margin: 0;
}

.detailes {
    margin-left: 5px;
}

.dimg {
    width: 114%;
}
}