@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=News+Cycle&display=swap');

*
{
    padding: 0;
    margin: 0;
}

/* navbar */

div.container-fluid.alert {
    font-size: 20px;
    margin-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
}

.container-fluid.navbar.bg-dark.navbar-expand-sm.fixed-top {
    padding-top: 1px;
    padding-bottom: 1px;
}

.navbar-default {
  background: none;
}

i.fa.fas.fa-bars {
    color: #fff;
}

.navbar-toggler-icon {
    padding-top: 5px;
}

a.nav-link {
    color: #fff;
}

.btn {
    color: #fff;
}

a.navbar-brand.now {
    color: #fff;
    font-family: 'Great Vibes', cursive;
    font-size: 35px;
}




/* home page */

.hero-image {    
    height: 130vh;

    background: linear-gradient(rgba(0,0,0,0.29),rgba(0,0,0,0.29)),url("../images/hero2.jpg") no-repeat center center; 
    background-color: #000;
    background-size: cover;
}

video {
    margin-top: -240px;
    margin-left: 250px;
}

#ccsearch {
    padding-top: 300px;
    margin-top: -80px;
}
#before-callout {
    color: #fff;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 2px 2px #000;
}

h1.callout {
    color: #fff;
    text-align: center;
    letter-spacing: 4px;
    font-size: 70px;
    text-shadow: 2px 2px #000 ;
}

p#callout-end {
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px #000;
    
}

p#callout-p {
    margin-top: 25px;
    text-align: center;
    color: #fff;
    margin-bottom: 0px;
    text-shadow: 2px 2px #000;
}

.input-group-text {
    height: 40px;
    width: 100px;
    background-image: linear-gradient(#00ff7e,#1f3d90);
    border: 0;
    color: #fff;
    padding: 0 25px;
    border-radius: 30px;
    box-shadow: none;
}

/* Footer */
a {
    color: white;
}
.footer {
    padding: 40px 20px;
    background-color: #343a40;
    margin-top: 0px;
}

.row.footer {
    margin-top: 30px;
    padding-top: 0px;
}

footer {
    color: #fff;
}

.container.footer {
   display: inline-block;
    margin: 0 auto;
}

.footer-header {
    letter-spacing: 2px;
}

.footer-content {
    font-size: 17px;
}

.fa.fab.fa-facebook-square {
    color: #fff;
}

.fa.fab.fa-twitter-square {
    color: #fff;
}

.fa.fab.fa-youtube-square {
    color: #fff;
}

#text {
    color: #fff;
}
/* packages */

.container-fluid.alert {
    text-align: center;
}

#calculator {
  background-color: #A8C99A;
  /*---------------------------
  make text selection impossible
  --------------------------------*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#brand a {
  padding: 5px 0 0 0;
  color: #aaa;
  font-size: 10px;
  letter-spacing: 3px;
  text-decoration: none;
  outline: 0;
}

#brand a:hover {
  color: #BFCCD2;
}



#displayM {
  position: absolute;
  width: 27px;
  height: 12px;
  left: 23px;
  top: 45px;
  line-height: 1;
  color: #88A0AC;
  text-align: left;
  padding-left: 3px;
}

#calculator {
  position: relative;
  text-align: center;
  background-color: #555;
  width: 300px;
  height: 390px;
  margin: 27px auto;
  padding: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 0 6px 3px #444, 0 2px 2px #ccc inset;
  -moz-box-shadow: 0 6px 3px #444, 0 2px 2px #ccc inset;
  box-shadow: 0 6px 3px #444, 0 2px 2px #ccc inset;
  cursor: default;
  float: left;
  margin-top: 190px;
  margin-left: 50px;
}

#screen {
  width: auto;
  height: 70px;
  margin: 9px 10px 8px 10px;
  background-color: #ECF5FF;
  -webkit-box-shadow: 0 4px 2px rgba(0, 0, 0, 0.2) inset, 0 -4px 2px rgba(0, 0, 0, 0.2) inset, 0 4px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 2px rgba(0, 0, 0, 0.2) inset, 0 -4px 2px rgba(0, 0, 0, 0.2) inset, 0 4px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.2) inset, 0 -4px 2px rgba(0, 0, 0, 0.2) inset, 0 4px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#D7EAFF), to(#FFFFFF));
  background-image: -webkit-linear-gradient(top, #D7EAFF, #ECF5FF, white);
  background-image: -moz-linear-gradient(top, #D7EAFF, #ECF5FF, white);
  background-image: -ms-linear-gradient(top, #D7EAFF, #ECF5FF, white);
  background-image: -o-linear-gradient(top, #D7EAFF, #ECF5FF, white);
  background-image: linear-gradient(180deg, #D7EAFF, #ECF5FF, white);
  padding: 7px 3px 5px 3px;
}

#outputScr {
  font-size: 14px;
  overflow: hidden;
  height: 21px;
  width: 250px;
  background-color: transparent;
  color: #777;
  border: 0;
  margin: 3px auto;
  outline: 0;
  text-align: right;
  cursor: default;
}

#inputScr {
  width: 250px;
  background-color: transparent;
  color: #777;
  border: 0;
  margin: 3px auto;
  outline: 0;
  text-align: right;
  cursor: default;
  font-size: 21px;
  line-height: 1;
  padding-top: 3px;
  overflow: hidden;
  height: 27px;
}

#buttons {
  padding-top: 2px;
}

#zero,
#decpoint,
#plus,
#one,
#two,
#three,
#minus,
#equals,
#four,
#five,
#six,
#times,
#reciprocal,
#seven,
#eight,
#nine,
#divide,
#percent,
#backspace,
#ce,
#c,
#plusminus,
#sqroot,
#mc,
#mr,
#ms,
#mp,
#mm {
  color: #333;
  font-size: 17px;
  padding: 5px 3px 3px 3px;
  -webkit-text-shadow: 0 -1px white, 0 1px #bbb;
  -moz-text-shadow: 0 -1px white, 0 1px #bbb;
  text-shadow: 0 -1px white, 0 1px #bbb;
  display: inline-block;
  width: 45px;
  height: 34px;
  margin: 5px 2px;
  background-color: #EBEBEB;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#D8D8D8));
  background-image: -webkit-linear-gradient(top, #FFFFFF, #D8D8D8);
  background-image: -moz-linear-gradient(top, #FFFFFF, #D8D8D8);
  background-image: -ms-linear-gradient(top, #FFFFFF, #D8D8D8);
  background-image: -o-linear-gradient(top, #FFFFFF, #D8D8D8);
  background-image: linear-gradient(180deg, white, #D8D8D8);
  border-radius: 7px;
  -webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2), 0 -2px 3px rgba(0, 0, 0, 0.3) inset, 0 -2px 0 white inset;
  -moz-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2), 0 -2px 3px rgba(0, 0, 0, 0.3) inset, 0 -2px 0 white inset;
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 -2px 3px rgba(0, 0, 0, 0.4) inset, 0 -2px 0 white inset;
  vertical-align: middle;
}

#minus,
#plus {
  margin-right: -4px;
}

#zero {
  width: 98px;
}

#equals {
  height: 78px;
  margin-right: 11px;
  float: right;
}

#backspace {
  font-size: 160%;
  line-height: 0.8;
}

#plusminus {
  line-height: 1.3;
}

#times {
  font-size: 150%;
  line-height: 1.5;
}

#minus {
  font-size: 123%;
  line-height: 1.2;
}

#plus {
  font-size: 123%;
  line-height: 1.4;
}

#decpoint {
  font-size: 160%;
  line-height: 1;
}

#equals {
  font-size: 170%;
  padding-top: 20px;
}

#buttons div:hover {
  background-color: #EBEBEB;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F7F9F9), to(#BFCCD2));
  background-image: -webkit-linear-gradient(top, #F7F9F9, #BFCCD2);
  background-image: -moz-linear-gradient(top, #F7F9F9, #BFCCD2);
  background-image: -ms-linear-gradient(top, #F7F9F9, #BFCCD2);
  background-image: -o-linear-gradient(top, #F7F9F9, #BFCCD2);
  background-image: linear-gradient(180deg, #F7F9F9, #BFCCD2);
}


ul {
  padding-left: 21px;
  margin-bottom: 0;
}

#features-header {
    margin-top: 10px;
    text-align: center;
    margin-bottom:20px;
    padding-top: 100px;
    font-family: 'News Cycle', sans-serif;
    font-weight: 600;
    
    
}

h2#features-header {
    margin-bottom: 50px;
    font-family: 'News Cycle', sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 35px;
}
div.container.features.first {
     margin-top: -90px;
     position: relative;
}

p.discription {
    font-weight: 500;
}

.dimg {
     width: 550px;
 }

.rating {
    padding-left: 460px;
    color: #efb50afc;
}

.featured-img {
    position: relative;
}

.stay {
    position: absolute;
    margin-top: -23px;
}

i.fa.fa-moon-o {
    color: #0a7efb;
}

i.fa.fa-sun-o {
    color: #daa506;
}

span{
    color: #000;
}

h4.detailes {
    padding-top: 20px;
    padding-bottom: 10px;
}

#map {
    height: 690px;
    width: 100%;
}

#map1 {
    height: 690px;
    width: 100%;
}

#map2 {
    height: 665px;
    width: 100%;
}

div.container {
    margin-top: 50px;
}

#map3 {
    height: 720px;
    width: 100%;
}

#map4 {
    height: 665px;
    width: 100%;
}

#map5 {
    height: 645px;
    width: 100%;
}

#map6 {
    height: 665px;
    width: 100%;
}

div.container.last {
    margin-bottom: 40px;
}

.container-fluid.packages {
    padding-left: 0px;
    padding-right: 0px;
}

/* Gallery */

div.gallery {
    margin: 10px;
    border: 2px solid #ccc;
    float: left;
    width: 378px;
    margin-bottom: -60px;
    
}

h2#tgallery-head {
    margin-bottom: 0px;
    padding-top: 0px;
    font-family: 'News Cycle', sans-serif;
    font-size: 35px;
    font-weight: 700;
}


div.gallery:hover {
    border: 2px solid #777;
}

div.gallery img {
    width: 375px;
    height: 200px;
}

div.desc {
    padding: 15px;
    text-align: center;
    width: 382px;
    font-family: 'News Cycle', sans-serif;
    font-size: 20px;
    font-weight: 600;
}


.container-fluid-gallery {
    margin-top: 120px;
    margin-bottom: 120px;
}

#tgallery-head {
    text-align: center;    
}

.gallery {
    margin-top: 0px;
}

/*-- Restaurants --*/

.restaurants {
    padding:100px 0;
    background: #fff;
    padding-top: 0px;
}

.gallery-box img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.gallery-box img:hover {
    transform: scale(1.1);
}

.gallery-box h4 {
    display: block;
    color: #fff;
    text-shadow:  -2px 2px 2px #000;
    font-weight: 600;
    font-size: 20px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.gallery-box {
    position: relative;
    margin-bottom: 30px;
}

#eating {
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
    font-family: 'News Cycle', sans-serif;
    font-weight: 600;
}

/*-- About Us --*/
#aboutus-header {
    margin-top: 130px;
    text-align: center;
    font-family: 'News Cycle', sans-serif;
    font-weight: 600;
    font-size: 35px;
}

#statment {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 60px;
    text-align: center;
    font-family: 'News Cycle', sans-serif;
}

.aboutus-img {
    height: 50vh;

    background: url("../images/aboutus.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 240px;
}

.customers-review {
    padding: 100px 0;
    font-family: 'News Cycle', sans-serif;
}

.customer-review {
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 100, 0.2);
    padding-bottom: 50px;
}

.customer-review p {
    padding: 50px 10px 10px 10px;
}

.customers-review img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    margin: -30px 0 20px 40%;
}
#review {
    text-align: center;
}

.customer-review p::before {
    content: "\201d";
    display: block;
    position: absolute;
    font-size: 100px;
    color: #3ac7ba;
    font-family: sans-serif;
    left: 44%;
    top: -5%;
}

#important {
    padding-left: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'News Cycle', sans-serif;
}

#important-p {
    font-size: 20px;
    font-weight: 600;
    padding-left: 10px
    
}

#cancel {
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 10px;
    font-family: 'News Cycle', sans-serif;
    
}

#cancel-p {
   font-size: 20px;
   font-weight: 600;
   padding-left: 10px;
    
}

.container.policy {
    padding-top: 20px;
    font-size: 20px;
    font-weight: 600;
}

.first {
    padding-bottom: 5px;
    font-weight: 700;
}

#note {
    font-weight: 600;
    padding-left: 10px;
    padding-top: 40px;
}

#note-p {
    font-weight: 600;
    padding-left: 10px;
    padding-bottom: 40px;
}
@media screen and (min-width: 320px) and (max-width: 375px)  {

div#calculator {
    display: none;
}

a.navbar-brand.now {
       font-size: 23px;
}

.navbar-nav.ml-auto {
    font-size: 13px;
}

.navbar-toggler-icon {
    padding-top: 10px;
}

div.container-fluid.alert {
    font-size: 10px;
    padding-top: 20px;
    margin-top: 40px;
    margin-bottom: 0px;
    position: relative;
}

p#before-callout {
    font-size: 20px;
    margin-top: -40px;
}

h1.callout {
    font-size: 35px;
}

#ccsearch {
    margin-top: 0px;
    padding-top: 180px;
}

h2#features-header {
    margin-bottom: 20px;
    padding-top: 40px;
    font-size: 25px;
    margin-top: 50px;
}


h4.detailes {
    font-size: 17px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-right: 0px;
    margin-left: 3px;
}

.input-group {
    padding: 0;
}

img {
    height: 30vh;
}


img.dimg {
    width: 350px;
    height: 180px;
    margin-left: 0px;
    
}    

#text {
    font-size: 15px;
}

.navbar {
    width: auto;
    overflow-x: hidden;
}

div.rating {
   
    font-size: 12px;
    margin-top: 0px;
    padding-left: 240px;
    padding-right: 0px;
}

p.distination {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 12px;
    
}

.container.packages {
    padding-bottom: 0px;
}

.footer {
    padding-top: 30px;
    padding-bottom: 30px;
}

h1 {
    margin-bottom: 0;
}

div.stay {
    padding-top: 0px;
    font-size: 15px;
    margin-top: -25px;
}


p.discription {
    margin-top: 13px;
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 0px;
}
    
#eating {
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: 25px;
}

section.restaurants {
    padding-top: 0px;
    padding-bottom: 0px;
}

.gallery-box {
    margin-bottom: 5px;
}
div.feature-detailes {
   padding-top: 5px;
    margin-top: 0px;
}

#map {
    height: 170px;
}

#map1 {
    height: 170px;
}

#map2 {
    height: 170px;
}

#map3 {
    height: 170px;
}

#map5 {
    height: 170px;
}

#map4 {
    height: 170px;
}

#map5 {
    height: 170px;
}

#map6 {
    height: 170px;
}

.gallery {
    contain: layout;    
}

.container-fluid-gallery {
    margin-top: 80px;
    margin-bottom: 20px;
}

h2#tgallery-head {
    font-size: 25px;
    font-family: 'News Cycle', sans-serif;
    font-weight: 600;
}
.container-fluid.img {
    padding-left: 0;
    padding-right: 0;
   
}

div.container.last {
    margin-bottom: 0px;
}
.gallery {
    margin-left: 8px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    
}

div.gallery {
    margin-left: 8px;
}
#travel-header {
    font-size: 25px;
    font-weight: 600;
    padding-top: 70px;
    padding-bottom: 5px;
}

div.gallery img {
    width: 300px;
    
}.col-md-4 {
    margin-bottom: 45px;
}

div.gallery {
    width: 305px;
}

div.desc {
    padding: 10px;
    text-align: center;
    width: 300px;
    font-family: 'News Cycle', sans-serif;
    font-size: 15px;
    font-weight: 600;
}
h4.footer-header {
    font-size: 10px;
}

.container {
    padding: 0;
}

div.container {
    margin-top: 0px;
}
nav.container-fluid.navbar.bg-dark.navbar-expand-sm.fixed-top {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

p.footer-content {
    padding-left: 100px;
}

#aboutus-header {
    margin-top: 90px;
    margin-bottom: 15px;
    font-size: 25px;
}

#statment {
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 20px;
}

section.customers-review {
    padding-top: 15px;
    padding-bottom: 10px;
}

#review {
    font-size: 20px;
}
.col-md-4.about {
    margin-bottom: 0;
}

.customer-review {
    box-shadow: none;
    
}
p::before {
    font-size: 60px;
}

#important {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 23px;
}

#important-p {
    font-size: 15px;
}

#cancel {
    font-size: 23px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#cancel-p {
    font-size: 15px;
}

.container.policy {
    font-size: 15px;
    padding-left: 5px;
    padding-top: 10px;
}

#note {
    padding-top: 10px;
}

section.footer {
    padding-bottom: 10px;
}

.container {
    contain: layout;
}

.footer-header {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 15px;
    text-align: center;
    position: relative;
    float: left;
    
}

p.footer-content {
    margin-top: 5px;
    margin-bottom: 8px;
    text-align: center;
    position: relative;
    font-size: 13px;
}

.comtainer-footer {
    position: absolute;
    margin-bottom: 10px;
}

h4.footer-header {
    font-size: 18px;
}
}

@media screen and (min-width: 375px) and (max-width: 414px)  {

img.dimg {
    width: 370px;
    height: 230px;
}

 a.navbar-brand.now {
       font-size: 25px;
}

section#ccsearch {
    margin-top: 0px;
    padding-top: 170px;
}

#callout {
    font-size: 35px;
}

.destination {
    font-size: 25px;
    font-weight: 600;
    padding-top: 70px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

img.dimg {
    height: 240px;
    width: 370px;
    margin-left: 2px;
    margin-right: 3px;
}
.container {
    padding-left: 0px;
    padding-right: 0px;
}

#text {
    font-size: 20px;
}
.feature-detailes {
    
    margin-left: 5px;
}

.rating {
    margin-right: 0px;
    padding-right: 130px;
    border-right-width: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.container {
    contain: layout;
}

.discription {
    margin-left: 3px;
    margin-right: 10px;
    padding-right: 120px;
    margin-top: -15px;
}

.stay {
    margin-top: -95px;
}

.rating {
    margin-top: -95px;
}

h4.detailes {
    font-size: 20px;
    margin-left: 2px;
    padding-top: 15px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

span.hotel {
    font-size: 13px;
}

.footer-header {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 15px;
    text-align: center;
    position: relative;
    float: left;
    
}

p.footer-content {
    margin-top: 5px;
    margin-bottom: 8px;
    text-align: center;
    position: relative;
    font-size: 13px;
}

.comtainer-footer {
    position: absolute;
    margin-bottom: 10px;
}

h4.footer-header {
    font-size: 18px;
}

p.footer-content.last1 {
    padding-left: 100px;
}

p.footer-content.last2 {
    padding-left: 90px;
}

p.footer-content.last3 {
    padding-left: 80px;
}

p.footer-content.last4 {
    padding-left: 80px;
}

p.footer-content.last5 {
    padding-left: 80px;
}
section.footer {
    padding-bottom: 10px;
    padding-top: 20px;
}



p.discription {
    padding-right: 0px;
}

#map {
    height: 230px;
}

#map1 {
    height: 230px;
}

#map2 {
    height: 230px;
}

#map3 {
    height: 230px;
}

#map5 {
    height: 230px;
}

#map4 {
    height: 230px;
}

#map5 {
    height: 230px;
}

#map6 {
    height: 230px;
}

div.gallery img {
    width: 355px;
}

div.gallery {
    width: 360px;
}

div.desc {
    width: 355px;
    font-size: 18px;
}
}
@media screen and (min-width: 414px) and (max-width: 736px) {

div#calculator {
    display: none;
}

a.navbar-brand.now {
        font-size: 30px;
}

.hero-image {    
    height: 100vh;

}

div.container-fluid.alert {
    font-size: 15px;
    padding-bottom: 0px;
}
p.#before-callout {
    font-size: 15px;
    margin-top: -30px;
}

section#ccsearch {
    padding-top: 120px;
}

h1.callout {
    font-size: 45px;
}

.h4.footer-header {
    font-size: 20px;
}

p.footer-content {
    font-size: 15px;
}

section.footer {
    padding-top: 5px;
    padding-bottom: 20px;
}

h2#features-header {
    margin-bottom: 25px;
    font-size: 30px;
    font-family: 'News Cycle', sans-serif;
    padding-top: 30px;
    margin-top: 60px
}

img.dimg {
    width: 410px;
    height: 275px;
}

.rating {
    padding-top: 95px;
    padding-left: 330px;
    padding-right: 0px;
}

.stay {
    padding-top: 70px;
}

h4.detailes {
    padding-bottom: 30px;
    font-size: 22px;
}


#map {
    height: 270px;
}

#map1 {
    height: 270px;
}

#map2 {
    height: 270px;
}

#map3 {
    height: 270px;
}

#map5 {
    height: 270px;
}

#map4 {
    height: 270px;
}

#map5 {
    height: 270px;
}

#map6 {
    height: 270px;
}

.container.features {
    margin-top: 0px;
}

div.container.last {
    margin-top: 0;
    margin-bottom: 20px;
}

section.restaurants {
    padding-bottom: 0px;
    padding-top: 10px;
}

h2#eating {
    margin-top: -5px;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'News Cycle', sans-serif;
}

.container.eat {
    margin-top: 0;
}

div.gallery-box {
    margin-bottom: 5px
}

div.container-fluid-gallery {
    margin-top: 80px;
    margin-bottom: 20px;
}

h2#tgallery-head {
    font-size: 26px;
    font-family: 'News Cycle', sans-serif;
    font-weight: 600;
    margin-bottom: 10px; 
}

div.gallery img {
    width: 400px;
    height: 250px;
}

div.gallery {
    width: 410px;
    margin-left: 5px;
    margin-bottom: 0;
    margin-top: 0;
}

div.desc {
    width: 400px;
    font-size: 18px;
    padding-bottom: 10px;
    padding-top: 8px;
    font-weight: 600;
    margin-bottom: -5px;
}

div.container.travell {
    margin-top: 0px;
}

h2#aboutus-header {
    margin-top: 80px;
    margin-bottom: 0px;
    font-size: 26px;
    padding-top: 15px;
}

div.container.statment {
    margin-top: 20px;
}

p#statment {
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 30px;
}

h3#review {
    font-size: 25px;
}

section.customers-review {
    padding-bottom: 30px;
    padding-top: 30px;
}

div.customer-review {
    box-shadow: none;
}

div.container.review {
    margin-top: 0px;
}

h3#important {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
}

p#important-p {
    font-size: 15px;
}

h3#cancel{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

p#cancel-p {
    font-size: 15px;
}

div.container.policy {
    margin-top: 0px;
}

p.first {
    font-size: 18px;
}

.row.cancel {
    font-size: 15px;
    margin-left: 1px;
    margin-right: 1px;
}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

div#calculator {
    display: none;
}

video: {
    margin-top: 30px;
    margin-right: 10px;
    padding-right: 0px;
    margin-left: 220px;
}

p#before-callout {
    font-size: 35px;
}

h1.callout {
    font-size: 80px;
}

p#callout-p {
    ont-size: 18px;
}

p#callout-end {
    font-size: 18px;
}
h2#features-header {
    font-family: 'News Cycle', sans-serif;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 50px;
}

img.dimg {
    width: 750px;
}

div.container.features {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

 div.rating {
    font-size: 25px;
    padding-left: 595px;
}

div.stay {
    font-size: 23px;
    margin-top: -40px;
}

h4.detailes {
    padding-top: 20px;
    padding-bottom: 10px;
}

p.discription {
    font-size: 18px;
}


#map {
    height: 470px;
    width: 750px;
}

#map1 {
    height: 470px;
    width: 750px;
}

#map2 {
    height: 470px;
    width: 750px;
}

#map3 {
    height: 470px;
    width: 750px;
}

#map5 {
    height: 470px;
    width: 750px;
}

#map4 {
    height: 470px;
    width: 750px;
}

#map5 {
    height: 470px;
    width: 750px;
}

#map6 {
    height: 470px;
    width: 750px;
}
.container.features {
    margin-top: 0px;
}

div.container.last {
    margin-top: 0px; 
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}

div.rating.last {
    padding-left: 580px;
}

section.restaurants {
    padding-bottom: 40px;
}

div.gallery img {
    width: 260px;
    height: 150px;
}

div.gallery {
    width: 240px;
    margin-left: 5px;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 0;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
}

div.desc {
    width: 240px;
    font-size: 18px;
    padding-bottom: 10px;
    padding-top: 8px;
    font-weight: 600;
    margin-bottom: -5px;
    padding-right: 10px;
    padding-left: 5px;
}

div.container.travell {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    padding-left: 0px;
    overflow: hidden;
    
}

div.container-fluid-gallery {
    margin-top: 90px;
    margin-bottom: 30px;
}

h2#tgallery-head {
    margin-bottom: 30px;
    margin-top: 10px;
    padding-top: 10px;
}

h2#aboutus-header{
    margin-bottom: 15px;
    margin-top: 110px;
}

div.container.statment {
        margin-top: 30px;
}

section.customers-review {
    padding-top: 40px;
    padding-bottom: 20px;
}
}